/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    animation: fade-bg 10s infinite;
}

@keyframes fade-bg {
    0% {
       
        background-color:turquoise;
    }

    50% {
        background-color:pink;
    }

    100% {

        background-color: turquoise;
    }
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 20px;
    padding: 10px 0;
    font-weight: bolder;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 20px 1% 0;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    background-color:teal;
}

.b {
    background-color:gold;
}

.c {
    background-color:cadetblue;
}

.d {
    background-color:coral;
}

.e {
    background-color:crimson;
}

.f {
    background-color:forestgreen;
}

.g {
    background-color:darkorchid;
}

.h {
    background-color:hotpink;
}

.i {
    background-color:indigo;
}

.j {
    background-color:dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.top-nav  {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav a {
    padding: 20px;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color:red;
}

.top-about {
    display: flex;
    justify-content: flex-start;
    padding:20px;
}

.containerr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.containerr .container-50 {
    width: 47%;
    height: 110%;
    margin: 10px;
    border-bottom: 1px dashed black;
    padding: 20px 1% 30px;
}

.containerr .container-50 * {
   width: 100%; 
}

.containerr .container-50 p {
    height: 100px;
}

.containerr .container-50 a {
    margin: 200px 0;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    animation: fade-bg 10s infinite;
}

.bottom-about {
    display: flex;
    flex-flow: column nowrap;
    padding: 30px;
}

.contact-form {
    /* height: 600px; */
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.contact-form * {
    margin:4px;
    padding: 4px;
    font-size: 20px;
    
}

